<div class="container">
    <div class="modal-header">
        <h3 class="modal-title">Adauga student</h3>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="form-group">
                <label> First name : </label>
                <input class="form-control" ng-model="student.FirstName" />
            </div>
            <div class="form-group">
                <label> Last name : </label>
                <input class="form-control" ng-model="student.LastName" />
            </div>
            <div class="form-group">
                <label> Email: </label>
                <input class="form-control" ng-model="student.Email" type="email" />
            </div>
            <div class="form-group">
                <label> Group : </label>
                <select ng-options="(opt.Specialization + ' ' + opt.Name) for opt in view.Groups" ng-model="student.Group"
                        class="form-control"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-info btn-block" ng-click="save()">Salveaza</button>
                <button class="btn btn-danger btn-block" ng-click="cancel()">Cancel</button>
            </div>
            <div ng-if="successMessage" class="form-group">
                <div class="alert alert-success">
                    <strong>Success!</strong> {{successMessage}}
                </div>
            </div>
            <div ng-if="errors" class="form-group">
                <div class="alert alert-danger">
                    <strong>Something went wrong!</strong> <br />
                    <p ng-repeat="err in errors">{{err}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

