<div class="container">
    <div class="modal-header">
        <h3 class="modal-title">Adauga Hour</h3>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="form-group">
                <label> Day : </label>
                <input class="form-control" ng-model="hour.TheDay" ng-disabled="true" />
            </div>
            <div class="form-group">
                <label> Interval : </label>
                <input class="form-control" ng-model="hour.TheHour" ng-disabled="true" />
            </div>
            <div class="form-group">
                <label> Course : </label>
                <select class="form-control" ng-options="course.Name for course in Courses" ng-model="hour.Course"
                        ng-change="getTeachers(hour.Course)">
                </select>
            </div>
            <div class="form-group">
                <label> Teacher : </label>
                <select class="form-control" ng-options="teacher.FullName for teacher in Teachers" ng-model="hour.Teacher"></select>
            </div>
            <div class="form-group">
                <label> Room : </label>
                <select class="form-control" ng-options="room.Name for room in Rooms" ng-model="hour.Room"></select>
            </div>
            <div class="form-group">
                <label> Week Type : </label>
                <select class="form-control" ng-options="wt for wt in view.weekTypes" ng-model="hour.WhichWeek"></select>
            </div>
            <div class="form-group">
                <label> Hour Type : </label>
                <select class="form-control" ng-options="ht for ht in view.hourTypes" ng-model="hour.TypeOfHour"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-info" ng-click="save()">Save</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
            <div ng-if="successMessage" class="form-group">
                <div class="alert alert-success">
                    <strong>Success!</strong> {{successMessage}}
                </div>
            </div>
            <div ng-if="errors" class="form-group">
                <div class="alert alert-danger">
                    <strong>Something went wrong!</strong> <br />
                    <p ng-repeat="err in errors">{{err}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
