<br />
<h2 class="text-primary" style="padding: 20px;"> Hello, {{adminName}} !</h2>
<br />
<div class="container">
    <div class="row" style="background-color:lightgray; border-radius:10px; padding-left: 10px; padding-right: 10px;">
        <div class="col-md-12" style="text-align: center">
            <span ng-repeat="tab in tabs" class="btn alert-info" ng-click="changeTab(tab)" style="margin-right: 10px;">
                {{tab.Name}}
            </span>
        </div>
    </div>
    <div ng-if="!currentTab.Location">
        <div class="row text-center">
            <span class="h2">Please select a tab to manage each entity you want!</span>
        </div>
        <div class="row well">
           To manage any entity you will have to click on one of the options that are located into the grey bar.
            After you have clicked one entity you will be able to add, edit or delete any entity.
        </div>
    </div>
    <div ng-include="currentTab.Location" class="row"></div>
</div>
