<br />
<h2 class="text-primary" style="padding: 20px;"> Hello, {{adminName}} !</h2>
<br />
<div class="container">
    <div class="row" style="background-color:lightgray; border-radius:10px; padding-left: 10px; padding-right: 10px;">
        <div class="col-md-12" style="text-align: center">
            <span ng-repeat="tab in tabs" class="btn alert-info" ng-click="changeTab(tab)" style="margin-right: 10px;">
                {{tab.Name}}
            </span>
        </div>
    </div>
    <div ng-if="!currentTab.Location">
        <div class="row text-center">
            <span class="h2">Please select a tab to manage each entity you want!</span>
        </div>
        <div class="row well">
            De ce îl folosim?
            E un fapt bine stabilit că cititorul va fi sustras de conţinutul citibil al unei pagini atunci când se uită la aşezarea în pagină. 
            Scopul utilizării a Lorem Ipsum, este acela că are o distribuţie a literelor mai mult sau mai puţin normale, faţă de utilizarea a ceva de genul 
            "Conţinut aici, conţinut acolo", făcându-l să arate ca o engleză citibilă.
            Multe pachete de publicare pentru calculator şi editoare de pagini web folosesc acum Lorem Ipsum ca model standard de text, 
            iar o cautare de "lorem ipsum" va rezulta în o mulţime de site-uri web în dezvoltare. Pe parcursul anilor, diferite versiuni au evoluat, 
            uneori din intâmplare, uneori intenţionat (infiltrându-se elemente de umor sau altceva de acest gen).
        </div>
    </div>
    <div ng-include="currentTab.Location" class="row"></div>
</div>
