<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h3>Login</h3>
                <p>To login you will have to introduce the username and password</p>
                <p>If you are a student then you should login using forename.surname and password</p>
                <p>If you are a teacher than you should login using title.forename.surname and password</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="form-label">Username</label>
                    <input type="text" placeholder="Username ..." class="form-control" ng-model="loginData.Username">
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" placeholder="Password..." class="form-control" ng-model="loginData.Password">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-block" ng-click="login()">Login !</button>
                </div>
                <div class="form-group text-center">
                    <a class="form-label" ng-click="forgotPassword()">iForgot!</a>
                </div>
            </form>
        </div>
    </div>
</div>