<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h3>Autentifica-te in site-ul nostru</h3>
                <p>Introduce datele primite de la facultate pentru autentificare</p>
                <p>Pentru autentificare in cazul elevului (nume.prenume) + parola</p>
                <p>Pentru autentificare in cazul profesorului (titlu.nume.prenume) + parola</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="form-label">Username</label>
                    <input type="text" placeholder="Prenume.Nume ..." class="form-control" ng-model="loginData.Username">
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" placeholder="Parola..." class="form-control" ng-model="loginData.Password">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-block" ng-click="login()">Autentificare !</button>
                </div>
                <div class="form-group text-center">
                    <a class="form-label" href="about">Ai uitat parola?!</a>
                </div>
            </form>
        </div>
    </div>
</div>